/* RESET CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CALENDAR */

.calendar {
    position: absolute;
    height: 200px;
    margin-top: 0;
    top: 20%;
    left: 20%;   
}

.snowman {
    text-align: center;    
}

.snowman img {
    width: 100px;    
    transform-origin: center center; 
    transition-duration: 1000ms;
    margin-bottom: -55px;
    opacity: 0;
    z-index: -1;
}

.calendar:hover .snowman img{
    transform: translateY(-55px);
    transition-duration: 1000ms;
    opacity: 1;
    z-index: 1;    
  }

.calendar-card {   
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 180px;
    border: 3px solid red;
    border-radius: 20px 20px 15px 15px ;
    overflow: hidden;   
}

.calendar-header, .calendar-footer {
    position: relative;
    text-align: center;
    width: 100%;
    height: 20%;
    color: white;        
    background-color: red;       
}
.calendar-header {
    height: 22%;
}

.calendar-footer {
    height: 15%;
}

.calendar-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 63%;
    background-color: #fff;
    box-shadow: 
        inset 0px 11px 14px -10px red,
        inset 0px -11px 14px -10px red;
}

.current-day {
    font-family: 'Lobster', sans-serif;
    margin-top: 3%;
    text-transform: uppercase;
    font-size: 16px;
    padding-top: 2px;

}

.current-month {
    font-size: 16px;
    font-weight: 700;
    padding: 4px;
}

.current-date {
    font-size: 34px;
    font-weight: bolder;
    padding: 4px;    
}

.current-time {
    font-size: 14px;
    font-weight: 700;
    margin-top: 4px;
    padding: 4px;
}

.current-year {
    font-family: 'Lobster', sans-serif;
    margin-top: 5%;
    height: 100%;
    font-size: 16px;    
}

.circle {
    background: white;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

