body {
    /* body bg colors */
    background: linear-gradient(
    to right,
    rgb(209, 223, 228),
    rgb(116, 206, 231),
    rgb(8, 172, 237)
    );
}
/* allow user to scroll dropdown */
.dropdown-menu {
    max-height: 280px;
    overflow-y: auto;
}


.jumb-color .text-center {
    text-align: center;
    color: white;
}

.card {
    top: -13vh
}

.jumb-color {
    height: 42vh;
    background: url('./img/jumb-7.jpg');
    background-size: cover;
    background-position: center;
    /* background-position-y: center; */
    background-repeat: no-repeat;
}

.convert-img {
    width: 5vh;
}

.historyTable {
    display: none;
}

.rateCard {
    display: none;
}

.size {
    width: 65px;
    height: 28px;
    cursor: pointer; 
}

.scrollable{
    max-height: 280px;
    overflow-y: auto;
}

.single-conversion-table {
    max-height: 280px;
    overflow-y: auto;
}

@media (max-width: 520px) {
    .card {
        top: -4vh;
    }

    .jumb-color {
        height: 30vh;
    }
}

/* WIDGETS */
.today p {
    margin-bottom: 8px;    
}

.calendar {
    position: relative;
    z-index: 1;
}
.snowman {   
    text-align: end;       
}

.snowman img {
    width: 120px;    
    transform-origin: center center; 
    transition-duration: 800ms;
    margin-bottom: -75px;
    opacity: 0;
    z-index: -1;
}
.card-body-items {
    position: relative;
    z-index: 99;
}

.calendar:hover .snowman img{
    transform: translateY(-40px);
    transition-duration: 800ms;
    opacity: 1;    
  }

.widget-card {
    transition: transform 0.8s;
}

.widget-card:hover {
    transform: scale(1.03);    
    box-shadow: #ff0 0 -2px 10px, 4px 3px 11px 5px rgba(49,5,255,0.25);
}

.bitcoin-card a:hover {
    text-decoration: underline;
}

.weather {
    background-image: url(./img/weather-bg.jpg);
}
