body {
    /* body bg colors */
    background: linear-gradient(
    to right,
    rgb(209, 223, 228),
    rgb(116, 206, 231),
    rgb(8, 172, 237)
    );
}
/* allow user to scroll dropdown */
.dropdown-menu {
    max-height: 280px;
    overflow-y: auto;
}


.jumb-color .text-center {
    text-align: center;
    color: white;
}

.card {
    top: -13vh
}

.jumb-color {
    height: 42vh;
    background: url('./img/jumb-7.jpg');
    background-size: cover;
    background-position: center;
    /* background-position-y: center; */
    background-repeat: no-repeat;
}

.convert-img {
    width: 5vh;
}

.historyTable {
    display: none;
}

.rateCard {
    display: none;
}

@media (max-width: 520px) {
    .card {
        top: -4vh;
    }

    .jumb-color {
        height: 30vh;
    }
}